<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.avanish.allexamplesofandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".headfirst.AllWidgetDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".headfirst.SecondActivity" />
        <activity android:name=".headfirst.constraintslayout.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".headfirst.supportbarandmore.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".headfirst.listandadapter.DrinkCategoryActivity"/>

        <activity android:name=".roomtest.CreateUser" />

        <activity android:name=".wiseAss.RecylerviewActivity"/>


        <activity android:name=".headfirst.supportbarandmore.OrderActivity"
            android:label="@string/create_order"
            android:parentActivityName=".headfirst.supportbarandmore.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".headfirst.supportbarandmore.MainActivity"/>
        </activity>
    </application>

</manifest>